.card {
<<<<<<< HEAD
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: solid 2px pink;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}
=======
  border: solid 2px red;
  width: fit-content;
  padding: 10px;
  margin: 10px;
}
>>>>>>> e68d0dc997763ea99598f916b444899cac537e6a
